@use '_core.scss';
$main-color:#900;
$sub-color:#365;
$basic-g-color1:#999;
$basic-g-color2:#666;
$basic-g-color3:#333;
$basic-g-color4:#000;
$basic-w-color:#fff;
$size-lg:500px;
$size-md:300px;
$size-sm:150px;
$size-xs:50px;
$mt50:50px;
$mt10:10px;


@mixin btn-basic($bgcolor ){
    font-size: $size;
    padding: 20px 40px;
    color:#fff;
    background-color: $bgcolor;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.btn1{
    @include btn-basic(#239 ,)
}
.btn2{
    @include btn-basic(#224)
}
.btn3{
    @include btn-basic(#214)
}

.box{ 
    width: $size-lg - 50px;
    height: $size-sm;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:$mt50;
}



.box1{
    @extend .box;
    border:5px solid $main-color;
   
}


.box2{
    @extend .box;   
    border:5px solid $sub-color; 
   
 } 
.box4{
    width: $size-lg;
    height: $size-lg;
    background-color: $basic-g-color3;
   >p{color:$main-color;
    font-size: $size-xs;}
    a{&:hover{color:$main-colo;}
    span{color:$basic-w-color;
    font-size: $size-xs;}
}
}
